.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 2px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}

.btn_active {
  animation: activated 2s ease-in-out forwards;
  animation: infinite_rotation 4s ease-in-out infinite;
}

.btn_inactive {
  animation: activated_reverse 2s ease-in-out forwards;
  transition: all 0.4s ease-in-out;
}

@keyframes activated {
  /* from {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  } */
  to {
    opacity: 0.6;
    transform: scale(0.85);
  }
}

@keyframes infinite_rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes activated_reverse {
  from {
    opacity: 0.6;
    transform: scale(0.85) rotate(360deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

/* .circle {
  border-radius: 50%;
  width: 50%;
  aspect-ratio: 1/1;
  border: 3px solid var(--color-primary-saturated-medium-light);
}

.dot_container {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 3px;
  width: 8px;
  height: 100%;
}

.dot {
  border-radius: 40%;
  width: 6px;
  height: 6px;
  background-color: var(--color-primary-saturated-medium-light);
  transition: all 0.5s;
}

.btn > .dot_container:nth-child(2) {
  transform: rotate(45deg);
}

.btn > .dot_container:nth-child(3) {
  transform: rotate(90deg);
}

.btn > .dot_container:nth-child(4) {
  transform: rotate(135deg);
}

.btn > .dot_container:nth-child(5) {
  transform: rotate(180deg);
}

.btn > .dot_container:nth-child(6) {
  transform: rotate(225deg);
}

.btn > .dot_container:nth-child(7) {
  transform: rotate(270deg);
}

.btn > .dot_container:nth-child(8) {
  transform: rotate(315deg);
}
 */
