/* HOVER-ACTIVE */
.hover-active-opacity-85:hover {
  opacity: 0.85;
}

.hover-active-scale-98:hover {
  transform: scale(0.98);
}

.hover-active-scale-115:hover {
  transform: scale(1.15);
}

.hover-transition-40ms-easyin {
  transition: all 0.4s ease-in;
}

/* RESET */
.btn-reset-with-bg {
  margin: 0;
  border: none;
  padding: 0;
}

.input-reset-with-border {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.reset-default {
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  line-height: normal;
}
