.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DIRECTION */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

/* GROW */
.grow-1 {
  flex-grow: 1;
}

/* POSITIONING */
/* - GAP */
.gap-4px {
  gap: 4px;
}

.gap-5px {
  gap: 5px;
}

.gap-8px {
  gap: 8px;
}

.gap-10px {
  gap: 10px;
}

.gap-15px {
  gap: 15px;
}

.gap-16px {
  gap: 16px;
}

.gap-20px {
  gap: 20px;
}

.gap-30px {
  gap: 30px;
}

.gap-32px {
  gap: 32px;
}

.gap-48px {
  gap: 48px;
}

.gap-50px {
  gap: 50px;
}

.gap-80px {
  gap: 80px;
}

/* - MAIN AXIS */
.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-stretch {
  display: flex;
  justify-content: stretch;
}

/* - CROSS AXIS */
.flex-cross-center {
  display: flex;
  align-items: center;
}

.flex-cross-start {
  display: flex;
  align-items: start;
}

/* -MAIN AXIS */
.flex-main-center {
  display: flex;
  justify-content: center;
}

.flex-main-start {
  display: flex;
  justify-content: start;
}

/* WRAP */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* -ROW-GAP */

.row-gap-5px {
  row-gap: 5px;
}

.row-gap-10px {
  row-gap: 10px;
}

/* ITEMS */
/* -GROW */
.grow-05 {
  flex-grow: 0.5;
}

.grow-1 {
  flex-grow: 1;
}
